body {
	padding-top: 50px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

img.jacket {
    width: 59px;
    padding: 3px;
    background: #000
}

.box-wrapper {
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display: flex;
    flex-wrap: wrap;
}

.box {
	border: solid 1px #CCC;
}

.rank {
    border-top: solid 1px #CCC;
}